<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>github repo</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">

    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>

    <div class="container">
      <aside class="left"></aside>
      <section class="right"></section>
    </div>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <script src="bower_components/underscore/underscore.js"></script>
    <script src = "apiToken.js"></script>

    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->

    <script type="text/template" id="profile">
      <div class="name">
        <img src="<%= avatar_url %>">
        <h1><%= name %></h1>
        <p><%= login %></p>
      </div>

      <div class="info">
        <li><i class="fa fa-map-marker"></i><%= location %></li>
        <li><a href= "#"><i class="fa fa-envelope-o"></i><%= email %></a></li>
        <li><i class="fa fa-clock-o"></i><%= created_at %></li>
      </div>

      <section class= "tracker">
        <div class= "numbers">
          <a href= "#"><%= followers %></a>
          <a href= "#"><%= public_gists %></a>
          <a href= "#"><%= following %></a>
        </div>
        <div class= "titles">
          <a href= "#">Followers</a>
          <a href= "#">Starred</a>
          <a href= "#">Following</a>
        </div>
      </section>

      <h2>Organizations</h2>
    </script>

    <script type="text/template" id="projects">
      <h1><%= name %></h1>
    </script>

    <script>

      //code for user
      var profileTpl = $("#profile").html();
      var userAPI = "http://github.com/users/emmylucille/repos?client_id="token"";

      // $.getJSON("userAPI"), function(userData){
      //   $("#profile").html(_.template(profileTpl,{users:userData}));
      // });

      $.getJSON("userAPI").done(function(userData){
        $("#profile").html(_.template(profileTpl,{users:userData}));
      });

      // $(".left").append(_.template (profileTpl, user));

      //code for repos
      var reposTpl = $("#projects").html();

      // var yay = repos.forEach(function(idx){
      //   console(idx);
      //  });


       $(".right").append(_.template (reposTpl, repos));

    </script>


  </body>
</html>

<!-- // $(".left").append('<img src = "' + user.avatar_url + '">'); -->
